.card {
    width: 21.375rem;
    height: 27.0625rem;
    border-radius: 1.875rem;
    background: var(--light-blue);

    padding: 3.6rem 4rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -6rem;
}

.card img {
    width: 8.4375rem;
    height: 8.4375rem;
    margin: 0 auto 2.31rem auto;
}

.title {
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin: 0 auto 0.75rem auto;
}

.paragraph {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0 auto;
}

.btn {
    width: 8.375rem;
    height: 3.375rem;
    margin: 2.31rem auto 0 auto;
    padding: 0.94rem 1.69rem;
    background: var(--dark-blue);
    color: var(--white);
    border: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.9375rem;
}

@media (max-width: 480px) {
    .card {
        margin: -4rem auto 4rem auto;
        width: 21.5rem;
    }

    .paragraph {
        text-align: center;
    }
}